.advantages {
	padding-bottom: 0;
}

.svg-background {
	display: flex;
	margin-bottom: 30px;
	height: 120px;
	align-items: center;
	justify-content: center;
	background-color: $secondary-background-color;
	border-radius: 4px;
}

.advantages-description {
	margin-top: 0;
	margin-bottom: 0;

	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}

.advantages-title {
	margin-top: 0;
	margin-bottom: 10px;

	color: $heading-text-color;

	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.advantages-list {
	display: flex;
	flex-wrap: wrap;
	padding-right: 0;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;

	.item {
		width: calc((100% - 90px) / 4);
	}
	.item:not(:last-child) {
		margin-right: 30px;
	}
}
