$paragraph-text-color: #757575;
$accent-color: #2196f3;
$heading-text-color: #212121;
$primary-white-color: #ffffff;
$secondary-background-color: #f5f4fa;
$picture-background-color: rgba(47, 48, 58, 0.4);
$footer-background-color: #2f303a;
$contact-icon-color: #afb1b8;

$logo-font: Raleway;
